name: Publish

on:
  push:
    branches:
      - "release/*"

jobs:
  <%#projects%>
  build-<%name%>:
    uses: cpdevtools/common-github-workflows/.github/workflows/pnpm-pack-docker.yml@main
    name: <%name%>
    with: 
      projectName: "<%name%>"
  <%/projects%>