name: Publish

on:
  push:
    branches:
      - "release/*"

jobs:
  <%#projects%>
  build-<%name%>:
    uses: cpdevtools/common-github-workflows/.github/workflows/pnpm-build-and-publish-projects.yml@main
    name: <%name%>
    with: 
      projectFilter: "<%name%>"
    secrets: 
      TOKEN: |
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  <%/projects%>