name: Publish

on:
  push:
    branches:
      - "release/*"

jobs:
  <% #projects %>
  pack-<% name %>:
    name: Pack <% name %>
    uses: "cpdevtools/common-github-workflows/.github/workflows/pnpm-pack-<% data.publishConfig.type %>.yml@main"
    with: 
      projectName: "<% name %>"
  <% /projects %>