name: Run Tests on PR push

on:
  pull_request:
    branches:
      - "release/*"
      
jobs:
  {{#projects}}
  build-{{name}}:
    name: {{name}}
    uses: cpdevtools/common-github-workflows/.github/workflows/pnpm-build-and-test-projects.yml@main
    with: 
      projectFilter: "{{name}}"
  {{/projects}}
