name: Test

on:
  push:
    branches:
      - "*"
      - "v/*"

jobs:
  {{#projects}}
  build-{{name}}:
    name: Build and test project: {{name}}
    uses: cpdevtools/common-github-workflows/.github/workflows/pnpm-build-and-test-projects.yml@main
    with: 
      projectFilter: "{{name}}"
  {{/projects}}