name: Run Tests on Push

on:
  push:
    branches:
      - "*"
      - "v/*"

jobs:
  <%#projects%>
  build-<%name%>:
    name: <%name%>
    uses: cpdevtools/common-github-workflows/.github/workflows/pnpm-build-and-test-projects.yml@main
    with: 
      projectFilter: "<%name%>"
  <%/projects%>
  